---
import Room from "@/components/Room.astro";
import { ROOMS } from "@/constants/rooms";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Stardew Checklist">
	<div class="flex flex-col gap-2">
		{Object.values(ROOMS).map((room) => <Room room={room} />)}
	</div>
</Layout>
