---
import { getItemsInBundle } from "@/store/item-store";
import type { Bundle, BundleName } from "@/types";
import Heading from "@/components/atoms/Heading.astro";
import BundleItem from "./BundleItem";

export interface Props {
	bundle: Bundle & { id: BundleName };
}

const { bundle } = Astro.props;

const items = getItemsInBundle(bundle);
---

<div>
	<Heading size="sm">{bundle.name}</Heading>
	{
		items.map((item) => (
			<BundleItem item={item} bundleName={bundle.id} client:load />
		))
	}
</div>
