---
type Size = "sm" | "md" | "lg" | "xl";

export interface Props {
	size?: Size;
}

const sizeStyles: Record<Size, string> = {
	sm: "text-xl",
	md: "text-2xl",
	lg: "text-4xl",
	xl: "text-6xl",
};
const baseStyle = "font-sans font-semibold";

const { size } = Astro.props;
---

<h1 class={`${baseStyle} ${sizeStyles[size ?? "md"]}`}><slot /></h1>
