@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply m-0 p-0;
	@apply bg-stardew-background bg-cover bg-fixed;
	@apply fill-zinc-700 text-zinc-700;
}

@layer components {
	.border-menu {
		border-width: 15px 12px 12px 12px;
		border-image: url("/images/menu_border.png");
		border-image-slice: 15 12 12 12;
		border-radius: 14px;
	}

	.item-container-empty {
		border-image: url("/images/item_frame_empty.png");
		border-width: 5px 5px 4px 4px;
		border-image-slice: 5 5 4 4 fill;
	}

	.item-container-full {
		border-image: url("/images/item_frame_full.png");
		border-width: 5px 5px 4px 4px;
		border-image-slice: 5 5 4 4 fill;
	}

	.bundle-name-background {
		border-image: url("/images/bundle-name-background.png");
		border-width: 4px 4px 6px 6px;
		border-image-slice: 4 4 6 6 fill;
	}

	.bundle-items-container {
		border-image: url("/images/bundle-items-background.png");
		border-width: 7px;
		border-image-slice: 7 fill;
	}

	.bundle-background {
		background-image: url("/images/bundle-background.png");
	}

	.tooltip-background {
		border-image: url("/images/tooltip-background.png");
		border-width: 8px 8px 6px 6px;
		border-image-slice: 16 16 12 12 fill;
	}

	.tooltip {
		@apply tooltip-background rounded-xl font-display font-light;
	}

	@font-face {
		font-family: "Stardew";
		src: url("/fonts/stardew-valley.woff") format("woff");
		font-weight: 600;
		font-style: normal;
	}

	@font-face {
		font-family: "Stardew";
		src: url("/fonts/svbold-webfont.woff2") format("woff2"),
			url("/fonts/svbold-webfont.woff") format("woff");
		font-weight: 700;
		font-style: normal;
	}
}
